[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "classifierplots"]
	path = classifierplots
	url = https://github.com/adefazio/classifierplots
